$extra-small: 10px;
$small: 14px;
$text: 18px;
$highlight: 24px;
$title: 48px;

$rounded: 25px;
$rounded-small: 10px;

:root  {
    --background: #fff;
    --accent: #FF6060;
    --dark: #000000;
    --grey: #E3E3E3;
    --light-grey: #F6F6F6;
}

ul {
  margin: 0;
}

button {
    appearance: none;
    -webkit-appearance: none; /* Safari */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 3px solid var(--background);
  border-right: 3px solid var(--background);
  transition: transform 0.3s ease;

  &.up {
    margin-top: 6px;
    transform: rotate(-45deg);
  }

  &.down {
    margin-bottom: 6px;
    transform: rotate(135deg);
  }

  &.right {
    margin-bottom: 6px;
    transform: rotate(45deg);
  }

  &.left {
    margin-bottom: 6px;
    transform: rotate(-135deg);
  }
}

