$extra-small: 10px;
$small: 12px;
$text: 18px;
$highlight: 24px;
$title: 48px;

$rounded: 25px;
$rounded-small: 10px;

:root  {
    --background: #fff;
    --accent: #FF6060;
    --dark: #000000;
    --grey: #E3E3E3;
    --light-grey: #F6F6F6;
}


