.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag {
  background-color: var(--accent);
  color: var(--background);
  font-size: 14px;
  font-weight: 500;
  padding: 6px 30px;
  border-radius: 20px;
  height: max-content;

  @include md {
    font-size: 10px;
  }
}