.header {
    text-decoration: none;
    color: var(--dark);

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-link {
        width: 210px;
        @include md {
            max-width: 40%;
        }
    }

    img {
        width: 100%;
    }
}

.nav {
    display: flex;
    gap: 57px;

    @include sm {
        gap: 27px;
    }

    &-link {
        @extend .rezisable-highlight;
        text-decoration: none;
        color: var(--dark);
        width: fit-content;
        max-width: 50%;
        &:hover {
            text-decoration: solid var(--dark) underline;
        }
    }
}
